:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont: "Raleway", sans-serif;
  --textFont: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px;
  font-size: 1.6rem;
  font-family: var(--textFont);
}

h1,
h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gris2);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--gris2);
}
.spinner label {
  flex: 0 0 100px;
  font-family: var(--textFont);
  font-size: 18px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
}

/** INPUTS **/
.input-block {
  display: block;
  width: 100%;
}

.navbar-nav {
  font-family: var(--headingFont);
  font-size: 2rem;
  margin: 15px;
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s ease;
}
.btn:hover {
  cursor: pointer;
  color: #fff;
}
.btn-primario {
  background-color: var(--gris2);
  color: var(--blanco);
}
.btn-primario:hover {
  background: var(--gris3);
}
.btn-secundario {
  background-color: var(--gris1);
}
.btn-block {
  display: block;
  width: 25%;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

@media (max-width: 900px) {
  button.btn.btn-primario.btn-block.mt-0 {
    width: 60%;
  }
}

/**PRINCIPAL**/
.row {
  margin: 0;
  --bs-gutter-x: -0.5rem;
}

h1.titulo-h1 {
  text-align: left;
  padding: 2%;
  margin: 0;
}

/** TABLE **/
th.sorting {
  font-family: var(--headingFont);
  text-align: left;
}

.mdb-datatable.dt-bootstrap4 {
  font-family: var(--textFont);
  font-weight: normal;
}

input.form-control.form-control-sm.ml-0.my-1 {
  border: 0;
  outline: none;
  height: 35px;
  background: #fff;
  border-radius: 5px;
  display: block;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  color: #000;
  font-size: 16px;
}

.d-flex.w-100.justify-content-between {
  margin-top: 20px;
}

.mdb-datatable-entries {
  display: none;
}

.mdb-datatable-info.d-flex.align-items-center {
  border: 0;
  outline: none;
  height: 35px;
  display: block;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  color: #000;
  font-size: 16px;
}
ul.pagination.m-0 {
  font-size: 12px;
}

li.disabled.page-item {
  margin-left: 5px;
}

.mdb-dataTable_scrollBody {
  text-align: left;
}

.formulario-nuevo-proyecto {
  margin-top: 6rem;
}
.formulario-nuevo-proyecto .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  background-color: var(--gris1);
}
.formulario-nuevo-proyecto .input-text::placeholder {
  color: var(--gris2);
}
.proyectos {
  margin-top: 10rem;
}
.app-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--gris2);
  padding: 4rem;
}
.nombre-usuario {
  color: var(--blanco);
  font-size: 2.2rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}
.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
}
.nav-principal a:first-of-type {
  margin-right: 2rem;
}

.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
  box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
}
.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
}

.contenedor-form {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: var(--blanco);
  border-radius: 1rem;
}

.contenedor-formv2 {
  padding: 2.5rem 3rem;
  max-width: 55%;
  width: 100%;
  background-color: var(--blanco);
  border-radius: 1rem;
}

.campo-form {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form h3 {
  flex: 0 0 100px;
  font-family: var(--headingFont);
  font-weight: 900;
  text-align: center;
  font-size: 20px;
}
.campo-form input[type="password"],
.campo-form input[type="date"],
.campo-form input[type="number"],
.campo-form input[type="email"],
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
  border-radius: 5px;
}
.campo-form input[type="month"] {
  border: 1px solid #e1e1e1;
  padding: 6px;
  border-radius: 5px;
}

/**MODAL*/
.modal-content {
  padding: 2%;
  background: var(--blanco);
  border-radius: 6px;
}
.modal-body {
  padding: 25px;
}

button.close.btn.btn-dark {
  margin: 0;
  font-size: 16px;
  background: var(--gris2);
}

/**ALERT*/
.swal2-popup.swal2-modal.swal2-icon-error.swal2-show {
  font-size: 100%;
}
.swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
  font-size: 100%;
}
.swal2-popup.swal2-modal.swal2-icon-warning.swal2-show {
  font-size: 100%;
}
